## Ignored files for back-end
# PyCache
__pycache__/

# Database
/back-end/api/db.sqlite3

## Ignored files for front-end
# Node
/front-end/node_modules

# Visual Studio Code
/front-end/.vscode/*

# Miscellaneous
/front-end/.angular/cache